*{
  margin: 0;
 box-sizing: border-box;

}
/*************** UTILITIES *****************************/

:root{
  --primary : #032539;
  --secondry : #1c768f;
  --light: #fbf3f2;
  --yellow: #fa991c;
  --font:  "Nunito Sans", sans-serif;
}
.main-header{
  position:sticky;
  top:0;
  z-index: 99;
  background-color:var(--primary);
  padding: 0.1rem 0;
  font-size: 0.8rem;
}
.header-top{
  display: flex;
  justify-content: space-between;
  background: var(--secondry);

  padding: 1rem;
  color: white;
  
}
.header-top span{
  margin: 5px 10px;
  cursor: pointer;
  
}
.header-top i{
  color: white;
}
.main-header header{
display: flex;
justify-content: space-around;
align-items: center;
margin: 1rem auto;

}
.main-header header img{
 
  width: 100px;
  height: 100px;
}

.search-bar{
  display: flex;
  gap: 1rem;
  background-color:#e6f1f4;
  border-radius: 10px;
   border: 0.5px solid var(--gradientBackground);
  flex-basis: 70%;  
}
.main-header header input{
  width: 90%;
  font-size: 0.9rem;
  outline: none;
  color: black;
  border: transparent;
 
  background-color: transparent;
  padding: 0.8rem;
}
.main-header header div i{
    align-items: center;
    display: flex;
    color: var(--yellow);


}
.main-container{
  display: flex;
  height: 100vh;
  overflow-y: auto;

}
header span i {
  font-size: 40px;
  color: var(--yellow)
}
.tags{

  position: sticky;
  top: 0;
  height: 100vh; /**  height is most imporitant here*/
  width: 200px;
  padding: 10px;
flex-shrink: 0;
flex-direction: column;
  gap: 0.2rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px); /* or X for horizontal slide */
  transition: opacity 1s ease, transform 1s ease, visibility 1s;
  
}
.tags.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}


.tags div {
  background-color: white;
  width: 100%;
 
  text-align: center;
  border-bottom: var(--primary) 1px solid;
  transition: ease-in-out 1s 0.5;


}
.tags> div:hover{
  background-color: var(--yellow);
  
 
}

.tags button{
  border: transparent;
  background-color: transparent;
  font-size: 0.8rem;
 
  padding: 0.4rem;
 color: var(--secondry);
  border-radius: 10px;
  
  

}
.tags > div:hover button {
  color: white;
  scale: 1.2;
}
.tag-sidebar{
  display: flex;
  gap: 1rem;
justify-content: space-around;
align-items: center;
background-color:var(--yellow)  !important;
color: white;
font-family: monospace;
  
}
.tag-sidebar img {
  filter: invert(1);
  cursor: pointer;
}




/****************************************************/
.products{
  text-align: center;
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  height: 100vh;
  background-color: rgb(242, 242, 242);
}
.products > h3{
  color: var(--secondry);
 
  font-size: 3rem;
  font-weight: 800;
}
.products > p{
  color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 2rem auto;
}
.products-container{
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 5rem;
 
}
.product{
  max-width: 300px;
  border-radius: 10px;
border: 0.5px solid var(--secondry);
background-color:var(--light);
   text-align: center;
   font-family: var(--font);
   position: relative;
   transition: transform 1s ease-in-out;
   cursor: pointer;

 
}
.product:hover{
  transform: scale(1.05);
  box-shadow: 2px 3px 5px gray, 2px 3px 10px gray;
}
.products-container img{
  width: 90%;
  border-radius: 10px;

  background-color:var(--light);

 

  ;
}
.discount{
  display: flex;
  position: absolute;

  justify-content: space-between;
 
}
.img{
  width: 280px;
  height: 250px;
  overflow: hidden;
}
.img img{
  width: 100%;
  margin: auto;
  height: 100%;
  overflow: hidden;
}

.discount button{
  border: green 2px solid;
  padding: 5px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
 position: relative;
    right: -155px;
    cursor: pointer;
 
  background-color: white;


}
.discount span{
  position: relative;
  left: 0rem;
  bottom: 1rem;
 font-size: 0.7rem;
 padding: 5px;
  background-color: orange;
}
.discount p{
  position: relative;
  bottom: 1rem;
  background-color: green;
  font-size: 0.6rem;
  color: white;
  padding: 6px;
}

.product h6, .product>span{
  font-style: oblique;
  font-size: 1.2rem;
  color: rgb(54, 53, 53);
  font-weight: 100;
  

}
.product h6{

color: var(--primary);
transition: all ease-in 0.5s;

}
.product:hover h6{

  background-color: var(--yellow);
  color:white;
   box-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 15px orange; ;
}
.product> span{
  font-size: 0.8rem;
  color: black;
}
.product h3{
  color: green;
  

}

.catagory{
  background-color: green;
  display: flex;
  justify-content: space-around;
}
.catagory button{

  border: transparent;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  background-color: transparent;
}


.cart-logo {
  position: relative;
}
.cart-logo .counter{
  font-size: 0.8rem;
  position: absolute;
  right: -50%;
  top: -50%;
  border-radius: 50%;
  padding: 10px 15px;
  background: var(--secondry);
  z-index: -1;
  color: white;

}
.tagsName{
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}
.tagsName div{
  margin:0;
  align-items: center;


}
.tagsName div button {
  border-radius: 10px;
  border:var(--gradientBackground) 1px solid;
}
.tagsName i {
  margin: 5px;
  color: red;
    cursor: pointer;
}
/*******************************************************/
.product-section{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  
  margin: auto;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;

}
.cart{
  display: flex;
  justify-content: space-around;
}
.delivery{
 display: flex;
 flex-direction: column;
 gap: 2rem;

}

.product-detail{
  flex-basis: 50%;
}





.product-img {
  flex-basis: 40%;
  background-color: aliceblue;
  padding: 1rem;
  
  max-height: 700px;
    position: sticky;
    top: 0;

}
.product-img img{

 
  object-fit: cover;
  transition: transform 0.3s ease;
  will-change: transform;
}
.product-img:hover img{
  transform: scale(0.8);
}
.product-img .fa-heart {
  position: absolute;
  right: 20px;;
  font-size: 2rem;
  color: gray; 
  cursor: pointer;
}
.product-img .fa-heart:hover{
  color: red;
}
.product-img img{
  width: 100%;
}
.cart div{
  padding: 0.7rem;
  font-size: 0.8rem;;
  cursor: pointer;
  color: white;
  font-weight: 700;
    display: flex;
  gap: 0.4rem;
  border-radius: 10px;
  transition: 0.5s ease-in-out ;
}
.cart div:hover{
  transform: scale(1.2);
}
.cart div:first-child:hover{
  box-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 15px orange; ;
}
.cart div:last-child:hover{
  box-shadow: 0 0 5px green, 0 0 10px green, 0 0 15px green; ;

}
 .cart div:first-child{
  background-color: orange;

 }
 .cart div:last-child{
  background-color: green;
 }
.description {
  display: flex;
  gap: 2rem;
}
.product-detail span{
  display: inline-block;
}
.detail-rating{
 
  color: white;
  padding: 0.5rem;
  margin: 2rem auto;
}
.detail-rating span:first-child{
  background-color: green;
  padding: 1rem;
}
.detail-rating span:nth-child(2){
  background-color: orange;
  padding: 1rem;

}
.delivery >div:first-child{
  display: flex;
  gap: 1rem;
  align-items: center;
  
}
.reviews-details{
  background-color: rgb(232, 230, 230);
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

/********************************************/

.cart-heading {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.single-cart {
background-color: white; /* or initial color */
border-radius: 15px;
}
.single-cart:hover{
cursor: pointer;
background-color: rgb(227, 227, 227);;

/* background: linear-gradient(215deg, rgba(252, 74, 26, 1) 0%, rgba(247, 183, 51, 1) 100%); */

}


.single-cart img{
width: 80px;


}
.cart-value div:first-child{
  background-color: rgb(227, 227, 227);
  border-radius: 15px;
  margin: 1rem ;
}
.cart-value{
  display: flex;
  justify-content:  space-around;
  align-items: center;
}
.cart-container{
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  position: relative;
 
}
.cart-container-description{
  flex-basis: 60%;
  border: 1px solid var(--yellow);
  border-radius: 15px;
  padding: 0rem;
}
.cart-container-options{
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color:#fc621a; 
  color: white;
  font-size: 1.2rem;
  padding: 5px;
}
.total-value{
  flex-basis: 30%;
  background-color: rgb(227, 227, 227);
  padding:1.5rem;
  position: sticky;
  top: 100px;
  height: 80vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 15px;
  
}
.total-value label{
  display: inline-block;
  width: 100%;
  margin: 0.5rem 0;
  color: gray;
}
.total-value input{
  width: 80%;
  padding: 8px;
  font-size: 0.8rem;
  outline: none;
  
  border:transparent;
}
.total-value button{
  display: block;
 background: #fc621a;

  border:transparent;
  color:white;
  font-size: 1rem;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease 0.5s;
  
}
.total-value button:hover{
  /* transform: translateY(-8px); */
  background-color: #FC4A1A;
  box-shadow: 0 0 5px #FC4A1A, 0 0 10px #FC4A1A, 0 0 15px #FC4A1A;
}
.shopping-continue{
  color: #FC4A1A;
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
}